.container{
    margin-left:50%;
    display: flex;
    position: relative;
    align-items: center;
    margin: top 120px;

}
.body{
    background-image: url('/assets/images/360_F_421442912_e9dARIDF7CnBKKcB1Ooy0aNcEOJ13eVY.jpg');
}