<!-- <div class="container">
    <div class="payment_success_card">
     
      <div class="check_icon">
       
      </div>
      <div class="purchase_success">
       
      </div>
     
      <div class="product_experience">
       
      </div>
    </div>
  </div> -->
  <html><head></head><body>
<div class="container">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Success</h5>
      <div class="cross">
        <a routerLink="/"><img src="assets/img/cross.png" alt="" /></a>
      </div>
      <h6 class="card-subtitle mb-2 text-muted"> <span>Purchase Successful</span></h6>
      <p class="card-text"> <div class="product_soon mb-3"> <p class="text-center">
        You will get your product soon!

Get ready to experience the spatial audio with
adaptive EQ that tunes music to your ears.
      </p>
        <span> You will get your product soon! </span>

      </div>  <img src="assets/images/check.png" alt="" />
      
    </div>
  </div>
</div>
</body>
</html>